.breadcrumb {
    background: none;
    margin-top: 1em;
}

.container {
    padding-bottom: 2em;
}

    .container article {
        padding: 2em 2em 2em 2em;
        background: #ffc04d;
    }